#member {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  font-size: 14px;
}
#member .memberLeft {
  width: 245px;
  margin-right: 25px;
  text-align: center;
}
#member .memberLeft > p {
  text-align: left;
  margin: 25px 0 10px 0;
}
#member .memberLeft > div:nth-of-type(1) {
  height: 140px;
  padding-top: 10px;
  background: #e9e9e9;
  font-size: 20px;
}
#member .memberLeft > div:nth-of-type(1) div {
  width: 100px;
  height: 100px ;
  font-size: 70px;
  color: #fff;
  margin: 2px auto;
  border-radius: 50%;
  background: #2493d3;
}
#member .memberLeft > div:nth-of-type(2) {
  height: 378px;
  background: #f7f7f7;
  margin-top: 10px;
}
#member .memberLeft > div:nth-of-type(2) > div {
  height: 53px;
  line-height: 53px;
}
#member .memberLeft > div:nth-of-type(2) > div a {
  font-size: 19px;
  color: #000;
}
#member .memberLeft > div:nth-of-type(2) > div:hover {
  background: #e9e9e9;
}
#member .memberLeft > div:nth-of-type(2) .e9 {
  background: #e9e9e9;
}
