.contan {
  font-size: 14px;
}
.con-header {
  width: 1200px;
  line-height: 25px;
  height: 38px;
}
.con-header span {
  display: inline-block;
  margin-top: 10px;
}
.con-header > span:nth-child(2) {
  color: #ccc;
}
.pp {
  font-size: 18px;
  color: #51b6bc;
  margin-top: 10px;
}
.qiehuan .xiangqing .pay-list {
  width: 1200px;
  border-top: 1px solid #ccc;
}
.qiehuan .xiangqing .pay-list div {
  width: 1200px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f7f7f7;
  margin-top: 48px;
  border: 1px solid #ccc;
}
.qiehuan .xiangqing .pay-list div span {
  display: block;
}
.qiehuan .xiangqing .pay-list div span a {
  color: #51b6bc;
}
.qiehuan .xiangqing .pay-list div > span:nth-child(2) a {
  color: black;
}
.qiehuan .xiangqing .pay-list div > span:nth-child(3) {
  text-align: center;
}
.qiehuan .xiangqing .pay-list div > span:nth-child(3) > p:nth-child(2) {
  cursor: pointer;
  color: red;
}
.qiehuan .xiangqing .pay-list div > span:nth-child(3) > p:nth-child(2) a {
  color: black;
}
.qiehuan .div_succeed {
  width: 1200px;
  background-color: #d9d9d9;
  margin-top: 10px;
  display: flex;
}
.qiehuan .div_succeed img {
  width: 150px;
  margin: 37px 50px;
  margin-left: 100px;
}
.qiehuan .div_succeed > div:nth-child(2) {
  width: 800px;
}
.qiehuan .div_succeed > div:nth-child(2) > p:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  color: #51b6bc;
  margin-top: 50px;
}
.qiehuan .div_succeed > div:nth-child(2) > p:nth-child(2) {
  font-size: 24px;
}
.qiehuan .div_succeed > div:nth-child(2) > p:nth-child(3) {
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.qiehuan .div_succeed > div:nth-child(2) > p:nth-child(3) > span {
  display: inline-block;
  width: 86px;
  text-align: center;
  line-height: 24px;
  color: #51b6bc;
  border: 1px solid #51b6bc;
  border-radius: 5px;
  margin-bottom: 3px;
}
.qiehuan .div_succeed > div:nth-child(2) > p:nth-child(4) {
  font-size: 14px;
}
.qiehuan .div_succeed > div:nth-child(2) > p:nth-child(4) > span {
  font-size: 20px;
}
.mingxi {
  width: 1200px;
}
.mingxi div {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-top: 0px;
  line-height: 54px;
  background-color: #f7f7f7;
}
.mingxi div span a {
  color: #51b6bc;
}
.mingxi div > span:nth-child(1) a {
  color: black;
}
.pay-way {
  font-size: 18px;
  width: 1200px;
  height: 18px;
  color: #51b6bc;
  margin-top: 20px;
  margin-bottom: 10px;
}
.way-list {
  width: 1200px;
  border-top: 1px solid #ccc;
  display: flex;
}
.way-list > div:nth-child(1) {
  margin-left: 10px;
}
.way-list > div:nth-child(1) p {
  margin: 10px 0;
}
.way-list > div:nth-child(1) div {
  align-items: center;
  display: flex;
  border-radius: 5px;
}
.way-list > div:nth-child(1) div span {
  width: 150px;
  font-size: 34px;
  color: green;
  display: inline-block;
  margin: 9px 0 8px 20px;
}
.way-list > div:nth-child(1) div span a {
  font-size: 14px;
  color: black;
  margin-left: 15px;
}
.way-list > div:nth-child(1) div img {
  width: 150px;
  height: 40px;
  margin: 14px 5px ;
}
.way-list > div:nth-child(1) > div:nth-of-type(1) {
  width: 200px;
  border: 1px solid rgba(244, 234, 234, 0.98);
}
.way-list > div:nth-child(1) > div:nth-of-type(2) {
  justify-content: space-between;
}
.way-list > div:nth-child(1) > div:nth-of-type(2) div {
  width: 202px;
  border: 1px solid rgba(244, 234, 234, 0.98);
}
.way-list > div:nth-child(1) > div:nth-of-type(3) {
  border: 1px solid rgba(244, 234, 234, 0.98);
}
.way-list > div:nth-child(1) > div:nth-of-type(3) div {
  margin: 6px 10px;
  border: 0;
}
.way-list > div:nth-child(1) input {
  margin-left: 5px;
}
.way-list > div:nth-child(1) .kaihuhang {
  font-size: 10px;
}
.way-list > div:nth-child(1) .kaihuhang p {
  margin: 0;
  color: #ccc;
}
.way-list > div:nth-child(1) .kaihuhang p a {
  color: black;
}
.way-list > div:nth-child(2) {
  width: 332px;
  height: 336px;
  text-align: center;
  margin-top: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.way-list > div:nth-child(2) div {
  width: 332px;
  height: 40px;
  display: flex;
  line-height: 40px;
  padding: 0 26px;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #d9d9d9;
}
.way-list > div:nth-child(2) div > p:nth-child(2) {
  cursor: pointer;
}
.way-list > div:nth-child(2) img {
  width: 186px;
  height: 186px;
  margin-top: 20px;
}
.way-list > div:nth-child(2) span {
  display: inline-block;
  width: 113px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid #51b6bc;
}
.way-list > div:nth-child(2) span a {
  color: #51b6bc;
}
.way-list > div:nth-child(2) .a {
  display: block;
  font-size: 12px;
  color: #51b6bc;
  margin-left: 190px;
  margin-top: 10px;
  cursor: pointer;
}
.p {
  color: red;
}
.pay-pay {
  margin: 30px 0 50px 0;
  width: 1200px;
  cursor: pointer;
}
.pay-pay p {
  font-size: 20px;
  margin-left: 1000px;
  margin-top: 10px;
}
.pay-pay p span {
  color: #2692D4;
}
.pay-pay > span {
  display: block;
  width: 170px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: 1000px;
  margin-top: 10px;
  background-color: #2693d4;
}
