.middle {
  width: 1200px;
  margin: 26px auto;
}
.middle .middle-two {
  display: flex;
  justify-content: space-between;
}
.middle .content {
  width: 948px;
}
.middle .content .content-top {
  width: 948px;
  height: 0;
}
.middle .content .content-top > p {
  cursor: pointer;
  font-size: 14px;
  color: #434343;
}
.middle .content .content-center {
  margin-top: 24px;
}
.middle .content .content-center .search {
  width: 948px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}
.middle .content .content-center .search .search-one {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.middle .content .content-center .search .search-one > div {
  width: 98px;
}
.middle .content .content-center .search .search-one > div > p {
  cursor: pointer;
  font-size: 18px;
  line-height: 41px;
  text-align: center;
  border-right: 1px solid #ccc;
}
.middle .content .content-center .search .search-one .search-a {
  display: flex;
  width: 848px;
}
.middle .content .content-center .search .search-one .search-a > span {
  cursor: pointer;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  border-radius: 8px;
  margin: 5px;
}
.middle .content .content-center .search .search-one .search-a span:hover {
  color: white;
  background-color: #2693d4;
}
.middle .content .content-center .search .search-two {
  width: 947px;
  display: flex;
  border-bottom: 1px solid #ccc;
}
.middle .content .content-center .search .search-two > div {
  width: 98px;
}
.middle .content .content-center .search .search-two > div > p {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  line-height: 80px;
  border-right: 1px solid #ccc;
}
.middle .content .content-center .search .search-two .search-b {
  width: 848px;
}
.middle .content .content-center .search .search-two .search-b > span {
  cursor: pointer;
  height: 30px;
  padding: 7px 10px;
  line-height: 35px;
  border-radius: 8px;
  margin: 5px;
}
.middle .content .content-center .search .search-two .search-b span:hover {
  color: white;
  background-color: #2693d4;
}
.middle .content .content-center .search .search-three {
  width: 946px;
  display: flex;
}
.middle .content .content-center .search .search-three .serve {
  width: 97px;
}
.middle .content .content-center .search .search-three .serve > p {
  cursor: pointer;
  width: 97px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  border-right: 1px solid #ccc;
}
.middle .content .content-center .search .search-three .city {
  display: flex;
  margin: 7px 10px;
  color: #3c3c3c;
}
.middle .content .content-bottom {
  width: 948px;
  border: 1px solid #ccc;
  margin-top: 23px;
}
.middle .content .content-bottom .ball {
  height: 41px;
  border-bottom: 1px solid #ccc;
  background-color: #f7f7f7;
}
.middle .content .content-bottom .ball > ul {
  cursor: pointer;
  display: flex;
  width: 130px;
  justify-content: space-between;
}
.middle .content .content-bottom .ball > ul > li {
  cursor: pointer;
  font-size: 14px;
  width: 70px;
  line-height: 41px;
  text-align: center;
}
.middle .content .content-bottom .ball-one > ul {
  cursor: pointer;
  font-size: 14px;
  width: 870px;
  margin: 10px auto;
  display: flex;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}
.middle .content .content-bottom .ball-two {
  width: 870px;
  margin: 10px auto;
  display: -webkit-box;
  border-bottom: 1px solid #ccc;
}
.middle .content .content-bottom .ball-two > img {
  cursor: pointer;
  width: 98px;
  height: 98px;
  border: 1px solid #ccc;
}
.middle .content .content-bottom .ball-two .ball-left {
  width: 375px;
  padding-left: 12px;
  line-height: 30px;
}
.middle .content .content-bottom .ball-two .ball-left > a {
  cursor: pointer;
  color: #242424;
  font-size: 16px;
}
.middle .content .content-bottom .ball-two .ball-left .jianju {
  margin-left: 25px;
}
.middle .content .content-bottom .ball-two .ball-right {
  width: 189px;
  height: 87px;
  text-align: center;
  padding-left: 218px;
}
.middle .content .content-bottom .ball-two .ball-right > p {
  color: red;
  font-size: 24px;
  line-height: 50px;
}
.middle .content .content-bottom .ball-two .ball-right > div {
  color: white;
  line-height: 30px;
}
.middle .content .content-bottom .ball-two .ball-right > div > a {
  cursor: pointer;
  padding: 5px;
  color: white;
  background-color: #2693d4;
}
.middle .picture {
  width: 236px;
  margin-top: 20px;
}
.middle .middle-three {
  width: 1200px;
}
.middle .middle-three > div {
  width: 200px;
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
}
.middle .middle-three > div .alone {
  width: 37px;
  height: 34px;
  color: #2693d4;
  cursor: pointer;
  border: 1px solid #2693d4;
}
.middle .middle-three > div > p {
  cursor: pointer;
  width: 66px;
  height: 34px;
  text-align: center;
  line-height: 35px;
  margin: 0 10px;
  border: 1px solid #ccc;
}
.all {
  background-color: #2693d4;
  color: #ffffff;
}
