#storeList {
  font-size: 14px;
  width: 1200px;
  margin: 0 auto;
}
#storeList a {
  color: #000;
  text-decoration: none;
}
#storeList .chance {
  margin: 25px 0 8px 0;
}
#storeList .area-type {
  width: 1200px;
  background: #f7f7f7;
  border: 1px solid #cccccc;
}
#storeList .area-type > div > div {
  border: 1px solid #cccccc;
}
#storeList .area-type > div:nth-child(1) {
  width: 1200px;
  display: flex;
}
#storeList .area-type > div:nth-child(1) > div:nth-child(1) {
  font-size: 18px;
  width: 100px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
#storeList .area-type > div:nth-child(1) > div:nth-child(2) {
  padding-left: 15px;
  line-height: 45px;
  width: 1100px;
}
#storeList .area-type > div:nth-child(2) {
  width: 1200px;
  display: flex;
}
#storeList .area-type > div:nth-child(2) > div:nth-child(1) {
  font-size: 18px;
  width: 100px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
#storeList .area-type > div:nth-child(2) > div:nth-child(2) {
  padding-left: 15px;
  width: 1100px;
}
#storeList .area-type > div:nth-child(2) > div:nth-child(2) ul {
  display: flex;
}
#storeList .area-type > div:nth-child(2) > div:nth-child(2) ul li {
  width: 80px;
  height: 25px;
  line-height: 25px;
  margin: 10px 2px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
#storeList .area-type > div:nth-child(2) > div:nth-child(2) ul li:hover {
  background: #2594d4;
  color: #fff;
}
#storeList .area-type > div:nth-child(2) > div:nth-child(2) ul .all {
  color: #fff;
  background: #2594d4;
}
#storeList .mainBox {
  width: 1200px;
  margin: 25px 0;
  border: 1px solid #cccccc;
}
#storeList .mainBox .order {
  width: 1200px;
  display: flex;
  background: #f7f7f7;
  border-bottom: 1px solid #cccccc;
}
#storeList .mainBox .order > div {
  cursor: pointer;
  width: 110px;
  height: 42px;
  line-height: 42px;
  margin-right: 5px;
  position: relative;
  text-align: center;
}
#storeList .mainBox .order > div:hover {
  background: #2594d4;
}
#storeList .mainBox .order > div:hover > p {
  color: #fff;
}
#storeList .mainBox .order .blue {
  background: #2594d4;
}
#storeList .mainBox .order .blue > p {
  color: #fff;
}
#storeList .mainBox .order .blue > div {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: #2594d4;
  position: absolute;
  left: 50px;
  bottom: -5px;
}
#storeList .mainBox .main {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#storeList .mainBox .main .store {
  width: 568px;
  height: 300px;
  margin: 15px;
  border: 1px solid #cccccc;
  display: flex;
}
#storeList .mainBox .main .store .imgs {
  width: 200px;
}
#storeList .mainBox .main .store .imgs div:nth-child(1) {
  margin: 75px 0 60px 35px;
  display: flex;
}
#storeList .mainBox .main .store .imgs div:nth-child(1) img {
  width: 115px;
  height: 55px;
  margin-right: 10px;
}
#storeList .mainBox .main .store .imgs div:nth-child(1) p {
  font-size: 30px;
}
#storeList .mainBox .main .store .imgs div:nth-child(2) {
  margin-left: 45px;
  display: flex;
}
#storeList .mainBox .main .store .imgs div:nth-child(2) img {
  width: 35px;
  height: 30px;
  margin-right: 10px;
}
#storeList .mainBox .main .store .text {
  width: 368px;
  padding: 20px 0;
  line-height: 28px;
}
#storeList .mainBox .main .store .text > p span {
  color: red;
}
#storeList .mainBox .main .store .text > p span:last-child {
  color: #000;
}
#storeList .mainBox .main .store .text > div {
  display: flex;
}
#storeList .mainBox .main .store .text > div > span {
  margin: 0 35px 0 20px;
}
#storeList .mainBox .main .store .text ul {
  height: 66px;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
#storeList .mainBox .main .store .text ul li {
  height: 28px;
  padding: 0 5px;
  margin: 0 5px 5px 0;
  background: #2594d4;
  color: #fff;
  border-radius: 5px;
}
#storeList .mainBox .main .store .text a {
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  padding: 8px 24px;
  background: #ff5b1b;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
#storeList .page-changes {
  width: 660px;
  margin: 25px auto 150px;
  text-align: center;
}
