#evaluntion{
    font-size: 14px;
    width:930px;
    .evaluntionTop{
        margin-top: 55px; 
        border-bottom: 1px solid #e9e9e9;
        margin-bottom: 23px;
        p{
            width:115px;
            color:#2594d4;
            line-height: 30px;
            text-align: center;
            margin-left: 10px;
            border-bottom: 2px solid #2594d4;
        }
        
    }
    .evaluntionCenter{
        display: flex;
        background: #f7f7f7;
        border: 1px solid #ccc;
        div{
            width:108px;
            text-align: center;
            height: 43px;
            line-height: 43px;
            position: relative;
            cursor: pointer; 
            margin-right:5px;
            &:hover{
                color:#fff;
                background:#2594d4;  
            } 
        }
        .blue{
            color:#fff;
            background:#2594d4;
            p{
                width:10px;
                height:10px;
                transform:rotate(45deg);
                background:#2594d4;
                position:absolute;
                left:50px;
                bottom:-5px;
            }
        } 
    }
    .evaluntionBottom{
        border: 1px solid #ccc;
        >div{
            display: flex;
            border-bottom: 1px solid #ccc;
            >div{ 
                 
                button{
                    cursor: pointer;
                    width:100px;
                    height:30px;
                    line-height:100%;
                    text-align: center;
                    background: #2594d4;
                    color:#fff;
                    border-radius: 5px;
                    margin-top:100px; 
                }
                p{
                    cursor: pointer;
                    width:100px;
                    height:30px;
                    line-height:30px;
                    text-align: center;
                    background: #ccc;
                    color:#fff;
                    border-radius: 5px;
                    margin-top:100px; 
                }
            }
        }
        
        
        
    }
}