.cart_conter {
  width: 1200px;
  height: 1000px;
  border: 1px solid red;
  margin: 0 auto;
}
.header {
  width: 1200px;
  height: 89px;
  font-size: 15px;
  border-bottom: 1px solid gray;
}
.header > p:nth-child(1) {
  line-height: 62px;
}
.header > p:nth-child(2) {
  color: #72b2de;
  margin-left: 65px;
}
.company-hd {
  width: 1200px;
  height: 53px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}
.company-hd p {
  margin: 25px 0 0;
}
.shangpin {
  width: 1200px;
  height: 500px;
  border: 1px solid red;
}
